*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
}
input, select,fieldset{
    border: none;
}
fieldset{
    border-top: 1px solid gray;
}
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}
.trybewarts-login{
    display: flex; 
    align-items: center;
}
.trybewarts-header-logo{
    width: 5em;
}
.trybewarts-login input {
    margin-right: 10px;
    width: 100px;
    border-radius: 10px;
    padding-left: 10px;
}

#trybewarts-header-title {
  color: white;
}

.main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form{
    width: 60%;
    margin: 5vh 0 0 5vh;
    display: flex; 
    flex-direction: column;
 
}
#evaluation-form{
    width:  675px;
    height: fit-content;
}
.align-form{
    display: flex;
    flex-wrap: wrap;
}
.align-form * {
    margin: 5px;
}
#house{
    width: 30%;
}
#button-login{
    border-radius: 15px;
    width: 100px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0 5px #999;
}
#button-login:active{
   
    background-color: #999;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-house{
    display: flex;
    justify-content: space-between;
}
.tech-choice{
    margin-left: 20vh;
}

#label-family, #label-content{
    display: block;
}
.choices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.choices div{
    display: flex;
    flex: wrap;
}
.family{
    width: 40%;
}
.termos{
    display: flex;
}